{% extends "layout.html.twig" %}

{% block content %}
       <div  class="center">
       <h1>Thank you for using Section 1 online referee scheduler</h1>
       <h2>You are logged off</h2>
       <h2><a href="{{ logon }}">Logon</a></h2>
       </div>
      
{% endblock %}
