{% extends "layout.html.twig" %}

{% block content %}
		{{ sched.addref | raw }}

       <center>
       <h1>You have now been logged off<br>Thank you for using Section 1 online scheduler</h1>
       <h2><a href="/">Log back on</a></h2>
       </center>
      
{% endblock %}
