node_modules
vendor
var
public/app.php
public/css
public/graphics
public/images
public/js
public/fonts
dist
config
.idea
*.zip
src/Model
public/fonts/
/tests/testfiles/
sql
npm-debug.log

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
bin
.env.*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
