
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #FFFFFF;
	margin: 0;
}
a:link {
	color: #0066CC;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0099FF;
}
a:hover {
	text-decoration: none;
	color: #0000FF;
	background-color: #FFFFCC;
}
a:active {
	text-decoration: none;
	color: #CC0000;
	background-color: #FFFFCC;
}
h1, h2, h3 {
	font-weight: bold;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 12px;
	padding: 0 20px;
}
.h3-btn {
	line-height: 3em;
}
.style4 a:link {
	color: #FFFFFF;
	text-decoration: underline;
}
.style4 a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}
table {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
}
th {
	line-height: 3rem;
	text-align: center;
}
.sched_table th, .sched_table td {
	border: 1px solid #9c9c9c;
}
.sched_table tr {
	line-height: 2em;
}
.contentarea {
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.4;
	vertical-align: top;
	text-align: left;
}
.foottext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
}
.center {
	text-align: center;
}
.center.no-content h2 {
	margin: 20px 0;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear-fix {
	clear: both;
}
.btn  {
	margin: 10px 20px;
}
.left-margin {
	margin-left: 20px;
}
select.form-control,
input.form-control {
	margin: 5px 20px;
	width: 80%;
    font-size: 13px;
	height: 2.25em;
}
a.btn:visited, a.btn:link {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
legend {
	line-height: 3em;
}
.user-update select.form-control,
.user-update input.form-control {
	width: 100%;
}
input#passwordInput {
	margin: 0;
}
@media only screen and (max-width: 768px){
	select.form-control, input.form-control {
		width: 90%;
	}
}
