{% extends "layout.html.twig" %}

{% block content %}
		{{ sched.ulock | raw }}
        
      <h3 align="center"><a href="$this->greetPath">Return to main screen</a>&nbsp;-&nbsp;
      <a href="$this->masterPath">Return to schedule</a>&nbsp;-&nbsp;
      <a href="$this->endPath">Logoff</a></h3>
        
{% endblock %}
