{% extends "layout.html.twig" %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="infoModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align:center">Referee Information</h4>
                </div>
                <div class="modal-body">
                    <!-- user data goes here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- end Modal -->
{% endblock %}

{% block script %}
    <script type="text/javascript">

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

    </script>
{% endblock %}