{% extends "layout.html.twig" %}

{% block content %}
		{{ sched.sched | raw }}

        <h3 align="center"><a href="/greet">Return to main screen</a>&nbsp;-&nbsp;
        <a href="/sched">Return to schedule</a>&nbsp;-&nbsp;
        <a href="/end">Logoff</a></h3>
        
{% endblock %}
