{% extends "base.html.twig" %}

{% block layout %}
<table width="98%"  class="maincontent">
  <tr>
    <td align="center" class="contentarea">
     
<!--
	<div align="center">
		<h2>{{ event.name }}<br>
			{{ event.date }}</h2>
	</div>
	<hr>
-->
		</td>
	</tr>
	<tr><td>
	
			{% block content%}{% endblock %}
			
  </td></tr>
</table>

	{% block script%}{% endblock %}

{% endblock %}
