{% extends "base.html.twig" %}

{% block head %}{% endblock %}

{% block layout %}

    <div class="col-md-12">

        {% block content %}{% endblock %}

    </div>

    {% block script %}{% endblock %}

{% endblock %}
