{% extends "layout.html.twig" %}

{% block content %}
    
    <h2 align="center">{{ view.title | raw }}</h2>
    
    {{ view.menu | raw }}

    {{ view.content | raw }}

    {{ view.menu | raw }}
        
{% endblock %}
