{% extends "layout.html.twig" %}

{% block content %}
  <div style="width: 50%; margin: auto">
  <form class="form-horizontal user-update" method="post" action="{{ view.action | raw }}">
    <fieldset>
    
      <!-- Form Name -->
      <legend>Update User</legend>
      
      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectUser">Select Assignor</label>
        <div class="col-md-4">
          <select id="selectUser" name="selectUser" class="form-control">
              {{ view.users | raw }}
          </select>
        </div>
      </div>
      
      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="passwordInput">Password Input</label>
        <div class="col-md-4">
          <input id="passwordInput" name="passwordInput" type="text" placeholder="" class="form-control input-md">
          <span class="help-block"></span>
        </div>
      </div>
      
      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="butUpdate"></label>
        <div class="col-md-8">
          <button id="btnUpdate" name="btnUpdate" class="btn btn-primary">Update</button>
          <button id="btnCancel" name="btnCancel" class="btn btn-inverse">Cancel</button>
        </div>
      </div>
    
      <div class="form-group">
        <center><p> {{ view.message | raw }}</p></center>
      </div>
      
    </fieldset>
  </form>
</div>

{% endblock %}
